.App {
  text-align: center;
  border: red solid 3px ;
}

.App-ToDoList {
  border: #09973f solid 3px;
}

.App-NewItem {
  border: #1613b6 solid 3px;
}

.App-ToDoItem {
  border: #a8db1b solid 3px;
}

.com{
  text-decoration-line: none;
}

.notcom{
  text-decoration-line: line-through;
}